{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis Perris | Mascotas</title>


</head>
<body>
    <header class="container-fluid superior">
        <!--Barra de navegación-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 logo">
                <a href="#"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
            <!--Botones de CRUD-->
            <div class="col-12 col-sm-12  col-md-12- col-lg-3 ">
                

                <a href="{% url 'index' %}" class="btn btn-outline-secondary " role="button"> Cerrar Sesión </a>
            </div>
        </div>
    </header>

<h4>Mascotas Disponibles</h4>
    <div class="container-fluid">
        <table class="table table-striped" id="table1">
            <thead class="thead-success">
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Raza</th>
                    <th scope="col">Estado</th>
                    <th scope="col">Descripción</th>
                </tr>
            </thead>
            <tbody>
                {% for e in elementos %}
                <tr>
                    <th scope="row">{{e.id}}</th>
                    <td> {{e.nombre}} </td>
                    <td> {{e.raza}} </td>
                    <td> {{e.estado}} 
                        
                    </td>
                    <td> {{e.comentario}}</td>
                    <td>
                       <a class="btn btn-sm btn-danger" href="#"><span class="glyphicon glyphicon-trash"></span>
                            ADOPTAR</a>
                    </td>
                    <td>
                        <img src="/media/{{e.imagen}}" class="mostrar-img">
                    </td>
                </tr>
                {% endfor %}
            </tbody>


        </table>

    </div>


    <footer>
        <h4>Desarrollo Web y Mobile</h4>
    </footer>


    <script src="{% static 'js/jquery-3.3.1.js' %} "></script>
    <script src="{% static 'js/popper.js' %} "></script>
    <script src="{% static 'js/bootstrap.js' %} "></script>
    <script src="{% static 'js/jquery.validate.js' %} "></script>
    <script src="{% static 'js/jquery.mask.js' %} "></script>
    <script src="{% static 'js/jquery.sliphover.js' %} "></script>
    <script src="{% static 'js/app.js' %} "></script>
</body>

</html>