﻿{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}" type="text/css">
    <title>Mis Perris</title>


</head>

<body>
    <header class="container-fluid superior">
        <!--Barra de navegación-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 logo">
                <a href="{% url 'index' %}"><img src="{% static 'img/logo.png' %}" alt="Logo"></a>
            </div>
            <div class="col-12 col-sm-12 col-md-12  col-lg-1 menu horizontal">
                <a href="{% url 'index' %}">Inicio</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12 col-lg-2 menu horizontal">
                <a href="#">Quiénes Somos</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12 col-lg-1 menu horizontal">
                <a class="#" href="{% url 'index' %}">Servicios</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12 col-lg-1 menu horizontal">
                <a href="#">Contáctanos</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12- col-lg-3  menu horizontal">
                
                <a href="{% url 'login' %}" class="btn btn-outline-success" role="button"> Iniciar Sesión </a>
                <a href="{% url 'registro' %}" class="btn btn-outline-success" role="button"> Registrarme </a>
            </div>
        </div>

    </header>
    

    <!--Sliders-->
    <section class="container-fluid slider">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <div id="carousel-1" class="carousel slide formu" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-1" data-slide-to="1"></li>
                        <li data-target="#carousel-1" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100 slider-fix" src="{% static 'img/adoptados/Tom.jpg' %}" alt="Responsive image" width="400" height="400">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="row">
                                    <div class="col-md-4">
                                        <p class="txt" text-align="left">
                                            "Estamos felices de tener a Tom con nosotros. Es un super fiel compañero"
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="carousel-item">
                            <img class="d-block w-100 slider-fix" src="{% static 'img/adoptados/Duque.jpg' %}" alt="Responsive image" width="400" height="400">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <p class="txt" text-align="left">
                                            "Estamos felices de tener a Duque con nosotros. Es un super fiel compañero"
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100 slider-fix" src="{% static 'img/adoptados/Apolo.jpg' %}" alt="Responsive image" width="400" height="400">
                            <div class="carousel-caption d-none d-md-block">
                                <div class="row">
                                    <div class="col-sm-4 col-md-4 col-lg-4">
                                        <p class="txt" text-align="left">
                                            "Estamos felices de tener a Apolo con nosotros. Es un super fiel compañero"
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <a class="carousel-control-prev" href="#carousel-1" role="button" data-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="sr-only">Anterior</span>
                        </a>
                        <a class="carousel-control-next" href="#carousel-1" role="button" data-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="sr-only">Siguiente</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--SOCIAL-->
    <section class="container-fluid" id="social">
        <div class="row">
            <div class="col-xs-6 col-sm-3 col-md-3 col-lg-3">
                <ul class="nav justify-content-center">
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Facebook">
                        <a href="https://www.facebook.com">
                            <i class="fab fa-facebook-square fa-3x"></i>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Facebook">
                        <a href="https://www.google.com">
                            <i class="fab fa-google-plus-g fa-3x"></i>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Facebook">
                        <a href="https://www.instagram.com">
                            <i class="fab fa-instagram fa-3x"></i>
                        </a>
                    </li>
                    <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Facebook">
                        <a href="https://www.gmail.com">
                            <i class="fas fa-envelope fa-3x"></i>
                        </a>
                    </li>
                </ul>
            </div>



        </div>
    </section>

    <!--Segunda parte/ Rescate-->
    <section class="container-fluid menu-2">
        <div class="row">
            <div class="col-xs-12 col-md-6 text-right">
                <div class="container txt-derecha">

                    <h2 class="sub">RESCATE</h2>
                    <p class="subtitulo">ETAPA UNO</p>

                    <hr>
                    <p class="text-right">Rescatamos perros en situación de peligro y/o abandono. Los rehabilitamos y los
                        preparamos para buscarles un hogar.</p>
                    <img class="imagen" src="{% static 'img/rescate.jpg' %}" alt="Rescate">
                </div>
            </div>

            <div class="col-xs-12 col-md-6 text-left">
                <img class="imagen" src="{% static 'img/crowfunding.jpg' %}" alt="Crowfunding">
                <h2 class="uppercase">CROWFUNDING</h2>
                <p class="subtitulo">FINANCIAMIENTO</p>

                <hr>
                <p class="text-left">Sigue nuestras redes sociales para informarte acerca de las diversas campañas y actividades
                    que realizaremos para obtener financiamiento para seguir ayudando.</p>

                <br>
                <br>
            </div>
        </div>
        <div class="row">
            <button type="button" class="btn btn-outline-secondary btn-camp">CAMPAÑAS</button>
        </div>
    </section>

    <!--Galería de Fotos-->
    <section class="container-fluid">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-lg-3">
                <div class="galery" id="sliphover">
                    <ul>
                        <li>
                            <a href="#"><img class="card-img-top" src="{% static 'img/rescatados/Oso.jpg' %}" title="Oso, tiene 2 años, es muy alegre."
                                    alt="Responsive image" /></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3">
                <div class="galery" id="sliphover">
                    <ul>
                        <li>
                            <img class="card-img-top" src="{% static 'img/rescatados/Bigotes.jpg' %}" title="Bigotes, tiene 3 años, es muy tierno." alt="Responsive image"
                            />
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-lg-3">
                <div class="galery" id="sliphover">
                    <ul>
                        <li>
                            <img class="card-img-top" src="{% static 'img/rescatados/Maya.jpg' %}" title="Maya, tiene 6 meses, ella es muy divertida."
                                alt="Responsive image" />
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-xs-3 col-sm-3 col-lg-3">
                <div class="galery" id="sliphover">
                    <ul>
                        <li>
                            <img class="card-img-top" src="{% static 'img/rescatados/Pexel.jpg' %}" title="Pexe, tiene 4 meses y es muy juguetón." alt="Responsive image"
                            />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="container-fluid" id="galeria">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-lg-3">
                <div class="galery" id="sliphover">
                    <ul>
                        <li>
                            <img class="card-img-top" src="{% static 'img/rescatados/Luna.jpg' %}" title="Luna, tiene 9 meses y es muy regalona." alt="Responsive image"
                            />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3">
                <div class="galery" id="sliphover">
                    <ul>
                        <li>
                            <img class="card-img-top" src="{% static 'img/rescatados/Wifi.jpg' %}" title="Wifi, tiene 1 año y le encantan las fotos."
                                alt="Responsive image" />
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-3 col-sm-3 col-lg-3">
                <div class="galery" id="sliphover">
                    <ul>
                        <li>
                            <img class="card-img-top" src="{% static 'img/rescatados/Chocolate.jpg' %}" title="Wifi, tiene 1 año y le encantan las fotos."
                                alt="Responsive image" />
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>



    <footer>
        <h4>Desarrollo Web y Mobile</h4>
    </footer>


    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/jquery.sliphover.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>