{% load static %}
<!DOCTYPE html>
<html lang="es-CL">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
        crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/estilo.css" %}" type="text/css">
    <title>Mis Perris | Login</title>


</head>

<body>
    <header class="container-fluid superior">
        <!--Barra de navegación-->
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12 col-lg-4 logo">
                <a href="#"><img src="{% static "img/logo.png" %}" alt="Logo"></a>
            </div>
            <div class="col-12 col-sm-12 col-md-12  col-lg-1 menu horizontal">
                <a href="#">Inicio</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12 col-lg-2 menu horizontal">
                <a href="#">Quiénes Somos</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12 col-lg-1 menu horizontal">
                <a class="#" href="#">Servicios</a>
            </div>
            <div class="col-12 col-sm-12  col-md-12 col-lg-1 menu horizontal">
                <a href="#">Contáctanos</a>
            </div>

        </div>

    </header>

    <div class="container-fluid centrar">
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <form method="POST" id="form-log" class="form-signin" action="{% url "iniciar" %}">
                {% csrf_token %}
                <h1 class="h3 mb-3 font-weight-normal">Inicio Sesión</h1>
                <div class="form-group">
                    <label for="username">Correo: </label>
                    <input type="text" name="username" id="username" class="form-control" placeholder="Ingresa tu usuario">
                </div>
                <div class="form-group">
                    <label for="contrasenia">Contraseña: </label>
                    <input type="password" name="contrasenia" id="contrasenia" class="form-control" placeholder="Ingrese su contraseña" >
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-12 col-sm-12  col-md-12- col-lg-6  menu horizontal">
                            <a href="{% url 'index' %}" class="btn btn-danger btn-block" role="button"> Salir
                                </a>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 menu horizontal">
                            <button type="submit" class="btn btn-success btn-block" value="Iniciar Sesión">
                            <br>
                        </div>
                    </div>

                </div>
                </form>
            </div>
        </div>
    </div>












    <footer>
        <h4>Desarrollo Web y Mobile</h4>
    </footer>


    <script src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script src="{% static 'js/popper.js' %}"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="{% static 'js/jquery.validate.js' %}"></script>
    <script src="{% static 'js/jquery.mask.js' %}"></script>
    <script src="{% static 'js/jquery.sliphover.js' %}"></script>
    <script src="{% static 'js/app.js' %}"></script>
</body>

</html>