body{
    background-color: #85D4B7;
}

.col-12{
    text-align: center;  
}
.logo{
    margin:0;
    margin-top: 0px;
    margin-bottom:0px;
    display:block;
    padding: 10px;
    
}
.superior{
    background-color: #85D4B7;
    padding-top: 10px;
    padding-left: 2px;
    box-sizing: border-box;
}
.galeria{
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 1;
}

.menu a{
    text-decoration: none;
    color: #fff;
    
}
.menu a:hover{
    color: #e6e6e6;
    text-decoration: #000000;  
}

@media (max-width: 991px) {
    .menu{
    background-color: #6DCCAA !important;
    margin-bottom: 3px;
    padding: 10px;
    font-weight: bold;
    }
}

@media (max-width: 991px) {
    .logo{
        padding-bottom: 10px;
    }
}

#formulario{
    background-color: #ffffff;
    margin-bottom: 20px;  
}
#formulario2{
    margin-top: 10px;
    background-color: #ffffff;
    margin-bottom: 20px;  
}
.social ul li {
    display: inline-block;
    box-sizing: border-box;
    padding: 8px;
    width: 55px;
    height: 55px;
    text-align: center;
    color: #6DCCAA;
    background-color: #fff;
    border: 2px solid #FFF;
    border-radius: 100%;
    margin-right: 50px;
}

.sub{
    text-transform: uppercase;
    font-weight: bold;
}
.subtitulo{
    text-transform: uppercase;
    width: 200px;
    margin: 0 auto;
}
hr{
    display: inline-block;
    width: 50px;
    height: 2px;
    margin: 20px 0;
    background-color: #333;
}

#social{
    background-color: #6DCCAA;
    padding-top: 15px;
    padding-bottom: 10px;

}
#social ul li a{
  
    text-align: center;
    padding-top: 10px;
    padding-left: 2px;
}

ul{
    list-style: none;
}
ul li{
    float: left;
    margin-left: 20px;
}
li a{
    color: #ffffff;
    text-decoration: none;
}
li a:hover{
    color: #e6e6e6;
    text-decoration: #000000;
}

.slider-fix{
    max-height: 400px;
    min-height: 300px;
    
}

.txt{
    color: #000000;
    font-size:25px;
    font-family: Georgia, 'Times New Roman', serif;
}

.txt-2{
    color: #000000;
    font-size:16px;
    font-family: Georgia, 'Times New Roman', serif;
}

.menu-2{
    background-color: #ffffff;
    
}
.btn-camp{
    margin-bottom: 20px;
}


.galeria-foto{
    margin-top: 10px;
    background-color: #85D4B7;
}

footer{
    background-color: #e6e6e6;
    padding-top:30px;
    padding-bottom:30px;
}

.slider{
    width: 100%
}

.error{
    color: red;
}

.mostrar-img {
    height: 50px; 
}